body {
    margin: 0;
}

header{
    width: 100vw;
    height: 90vh;
    background: url("../img/northern-forest\ \(3\).jpg");
    background-size: cover;
    padding-top: 10vh;
}

#menu a{
    color: white;
    font-size: 5vh;
    min-height: 4vh;
    text-decoration: none;
}

#nome {
    margin-top: 0;
    font-size: 7vh;
    color: white;
}

::-webkit-scrollbar {
    display: none;
}
  
@font-face {
    font-family: Balqis;
    src: url(../fonts/Balqis.ttf)
}